# Ignore the 'dependencies' directory' #
########################################
dependencies/

# Ignore the 'Example_Data' test data directory #
###########################################
Example_Data/

# Ignore ZIP files #
####################
*.zip

# Ignore .DS_Store #
####################
*.DS_Store