# Ignore the 'dependencies' directory' #
########################################
dependencies/

# Ignore the 'iplant' test data directory #
###########################################
iplant/

# Ignore ZIP files #
####################
*.zip

# Ignore .DS_Store #
####################
*.DS_Store